<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uni.projecte"
      android:versionCode="33"
      android:versionName="1.9.9"     
      >
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
   	<uses-permission android:name="android.permission.VIBRATE" />
   	
   	<uses-permission android:name="com.google.android.apps.mytracks.READ_TRACK_DATA" />
	<uses-permission android:name="com.google.android.apps.mytracks.WRITE_TRACK_DATA" />
  
  <!--  <application android:icon="@drawable/mainicon" android:label="@string/app_name"  android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar">
   --> 
   
   
    <uses-sdk android:minSdkVersion="7"/>
   
     <application android:icon="@drawable/mainicon" android:label="ZamiaDroid" android:theme="@android:style/Theme.NoTitleBar">
    
     <uses-library android:name="com.google.android.maps" android:required="true" />
     
    
        <activity android:name=".Main" android:configChanges="locale"
                  android:label="@string/app_name">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      
        </activity>
        
       <activity android:name=".Activities.Miscelaneous.ActivityProvadora" android:configChanges="locale"
                  android:label="zActivityProvadora">     
        </activity>

       <activity android:name=".Activities.Citations.CitationEditor" android:configChanges="locale" 
                  android:label="@string/app_name">
             
             <intent-filter>
  				<action android:name="uni.projecte.zamiaDroid.Citation.EDIT"/>
  				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
           
       </activity>
        
       <activity android:name=".Activities.Citations.CitationImport" android:configChanges="locale" 
                  android:label="@string/app_name">
       </activity>
        
       <activity android:name=".Activities.Citations.CitationImportZamia" android:configChanges="locale"
                  android:label="@string/app_name">   
        </activity> 
        
       <activity android:name=".Activities.Citations.CitationManager" android:configChanges="orientation|locale" 
                  android:label="@string/app_name">
             
           <intent-filter>
  				<action android:name="uni.projecte.zamiaDroid.Citation.LIST"/>
  				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
           
       </activity>
       
		<activity android:name=".Activities.Citations.CitationProjectImport" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>
		
		<activity android:name=".Activities.Citations.Sampling" android:configChanges="orientation|locale" 
                  android:label="@string/app_name">     
                  
		    <intent-filter>
  				<action android:name="uni.projecte.zamiaDroid.Citation.CREATE"/>
  				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        
		<activity android:name=".Activities.Citations.SecondLevelList" android:configChanges="locale" 
                  android:label="@string/app_name">           
        </activity>
		                         
        <activity android:name=".Activities.Citations.SecondLevelSampling" android:configChanges="locale" 
                  android:label="@string/app_name" android:screenOrientation="portrait">           
        </activity>
        
        
         <activity android:name=".Activities.Maps.CitationMap" android:configChanges="orientation|locale"
                  android:label="@string/app_name">
		    
            <intent-filter>
  				<action android:name="uni.projecte.zamiaDroid.Citation.MAP"/>
  				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
       </activity>
       
      <!--    <activity android:name=".Activities.Maps.ShitMapView" android:configChanges="orientation|locale"
                  android:label="@string/app_name">
       </activity>
         -->
          <activity android:name=".Activities.Maps.TrackListChooser" android:configChanges="locale"
                  android:label="@string/app_name">
        </activity>  

          <activity android:name=".Activities.Miscelaneous.ConfigurationActivity" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>
		
        <activity android:name=".Activities.Miscelaneous.GalleryGrid" android:configChanges="orientation|locale"
                  android:label="@string/app_name">
        </activity> 
               
        <activity android:name=".Activities.Miscelaneous.ImageGallery" android:configChanges="locale" 
                  android:label="@string/app_name">         
       </activity>
       
       <activity android:name=".Activities.Miscelaneous.ImageView" android:configChanges="orientation|locale" 
                  android:label="@string/app_name">   
       </activity>
                   
        <activity android:name=".Activities.Miscelaneous.LoginScreen" android:configChanges="locale" 
         android:label="@string/app_name">
	    </activity>
       
        
		<!-- Project Activities -->
               
       	<activity android:name=".Activities.Projects.ProjectBackupList" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>
       				 
		<activity android:name=".Activities.Projects.ProjectCreator" android:configChanges="locale" 
                  android:label="@string/app_name">
       </activity>
        		 
     	<activity android:name=".Activities.Projects.ProjecteChooser" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>
		
   		<activity android:name=".Activities.Projects.ProjectFieldChooser" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>		
           
        <activity android:name=".Activities.Projects.ProjectImport" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>
		
		<activity android:name=".Activities.Projects.ProjectInfo" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>
		             
        <activity android:name=".Activities.Projects.ProjectList" android:configChanges="locale" 
                  android:label="@string/app_name">
        </activity>
 		
        <activity android:name=".Activities.Projects.ProjectManagement" android:configChanges="locale" 
                  android:label="@string/app_name">
       </activity>
              
		<activity android:name=".Activities.Projects.ProjectRepositoryList" android:configChanges="locale" 
        android:label="@string/set_preferences">
		</activity>

	<activity android:name=".Activities.Projects.ProjectTemplateCreator" android:configChanges="locale" android:theme="@style/ZamiaTheme"
                  android:label="@string/app_name">
       </activity>
			
		<activity  android:name=".Activities.Projects.SubProjectInfo" android:configChanges="locale"       
	    android:label="@string/set_preferences">
		</activity>

        
		<activity android:name=".Activities.Thesaurus.ThesaurusImport" android:configChanges="locale" 
                  android:label="@string/app_name">           
        </activity>
        
		<activity android:name=".Activities.Thesaurus.ThesaurusInfo" android:configChanges="locale"
                  android:label="@string/app_name">           
        </activity>
        
       <activity android:name=".Activities.Thesaurus.ThesaurusManager" android:configChanges="locale"
                  android:label="@string/app_name">           
        </activity>
          
       <activity android:name=".Activities.Thesaurus.ThesaurusPlainImport" android:configChanges="locale" 
              android:label="Zamia Activitat de Prova">
       </activity>
       
     <activity android:name=".Activities.Thesaurus.ThesaurusRemote" android:configChanges="locale" 
         android:label="@string/app_name">
       </activity>
       
		<activity android:name=".Activities.Thesaurus.ThesaurusRemoteImport" android:configChanges="locale"
                  android:label="ZamiaImport">   
        </activity> 
        
		 <activity android:name=".Activities.Thesaurus.ThesaurusTaxonChecker" android:configChanges="locale" 
         android:label="@string/app_name">
       </activity>
         
         <activity android:name=".hardware.gps.GPSaccess" android:configChanges="locale" 
                  android:label="@string/app_name" android:screenOrientation="portrait">
       </activity>

            <activity android:name=".Activities.RemoteDBs.DBLocation" android:configChanges="locale" 
                  android:label="@string/app_name">
       </activity>  
                   
       	<activity android:name=".Activities.RemoteDBs.RemoteCallAct" android:configChanges="locale" 
                  android:label="@string/app_name">
       </activity> 

       <activity android:name=".Activities.RemoteDBs.RemoteDBConfig" android:configChanges="locale" 
                  android:label="@string/app_name">
       </activity>  
                  
        <activity android:name=".Activities.RemoteDBs.TaxonExplorer" android:configChanges="locale" 
                  android:label="@string/app_name">
       	</activity>
       	 	
       	<activity android:name=".Activities.RemoteDBs.TaxonListExplorer" android:configChanges="orientation|locale"
                  android:label="@string/app_name">
       	</activity>
                    	
       	<activity android:name=".Activities.RemoteDBs.TaxonRemoteCitationList" android:configChanges="locale" 
                  android:label="@string/app_name">
       	</activity>
                         	
       	<activity android:name=".Activities.RemoteDBs.TaxonRemoteTab" android:configChanges="locale" 
                  android:label="ZTabRemote">
       	</activity>

</application>
     
</manifest> 
